	*{
		box-sizing: border-box;
	}
	body{
		height: 100vh;
	}
	header{
		background-color: rgb(230,230,230);
		height: 5vh;
	}
	section{
		background-color: rgb(238,238,238);
		height: 90vh;
		overflow-y: auto;
		padding: 0;
	}
	footer{
		height: 5vh;
		background-color: rgb(230,230,230);
	}
	aside{
		background-color: rgb(242,242,242);
		height: 90vh;
		overflow-y: auto;
		box-sizing: border-box;
		text-align: center;
	}
	button.qno{
		margin: 2px;

	}
	button.qno:active{
		background-color: red;
	}
	div.main-section{
		overflow-y: auto;
		height: 90vh;
	}
	img.apics{
		width: 300px;
	}